<a href="https://colab.research.google.com/github/kathirvel-G/pyspark/blob/main/fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fraud Detection in Orders

This project focuses on detecting fraudulent orders based on unusual patterns in the data by using anomaly detection, decision trees, and random forests to classify fraud(fake).

## Goal:

To prevent financial losses due to fraudulent transactions.

## Libraries:

We'll use PySpark for distributed processing and MLlib for machine learning.

## Environment Setup

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=8a98ebff93a4a53614d8e9f5e3e14555ed5150fc12568e89d3f7944d30d409f7
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

# Importing necessary libraries

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, isnan, count, avg, stddev, abs, dayofweek, hour, countDistinct, sum as spark_sum, count as spark_count
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import DecisionTreeClassifier, RandomForestClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.feature import StringIndexer

# Spark session

In [ ]:
spark = SparkSession.builder \
    .appName("Fraud Detection in Orders") \
    .getOrCreate()

#Data Loading and Exploration

In [ ]:

data_path = "/Copy of Sales - JAN 2015 TO JUNE 2015- ALL CATEGORIES -EB^JEO_ER (version 1)_CAP.csv"

df = spark.read.csv(data_path, header=True, inferSchema=True)

df.show(5)

+----+----------+-----------+-------+------------+----------+--------------------+-----------+----------+---------+--------------+---------+-------------+----------+----+------+----------+-----------+------+------+--------------+-------------+-------+---+--------+----+--------+-----------------+-----------------+--------------------+-----------+--------+-------+-------+
|SORG|    REGION|      STATE|CHANNEL|BILLING TYPE|STORE CODE|                NAME|INVOICE NOS|      DATE|      DAY|         BRAND|SUB BRAND|MATERIAL TYPE|STYLE CODE|SIZE|SLEEVE|BASIC/CORE|     COLOUR|SEASON|GENDER|SUPPLIER STYLE|SUPPLIER SIZE|BARCODE|QTY|UNIT MRP| MRP|DISCOUNT|MANUALDISC REASON|MANUALDISC REMARK|       SCHEME REASON|TAXABLE AMT|TAX RATE|TAX AMT|NET AMT|
+----+----------+-----------+-------+------------+----------+--------------------+-----------+----------+---------+--------------+---------+-------------+----------+----+------+----------+-----------+------+------+--------------+-------------+-------+---+--------+----+--------+-----------------+-----------------+--------------------+-----------+--------+-------+-------+
| ABL|INDIA EAST|WEST BENGAL|    BF1|       SALES|    107450|US - SHAILIJA SHO...|U32IN406750|01/01/2015|Thursday |       US Polo|     NULL|       Shirts|  USSH3311|   L|     F|   Fashion|       NAVY|   A14|  Mens|      USSH3311|        L  FS|8.91E12|  1|    2399|2399|     0.0|               NA|             NULL|                  NA|    2284.76|     5.0| 114.24| 2399.0|
| ABL|INDIA EAST|WEST BENGAL|    BF1|       SALES|    107450|US - SHAILIJA SHO...|U32IN406750|01/01/2015|Thursday |       US Polo|     NULL|       Shirts|  USSH3321|   L|     F|   Fashion|  DEEP TEAL|   A14|  Mens|      USSH3321|        L  FS|8.91E12|  1|    2199|2199|     0.0|               NA|             NULL|                  NA|    2094.29|     5.0| 104.71| 2199.0|
| ABL|INDIA EAST|WEST BENGAL|    BF1|       SALES|    107450|US - SHAILIJA SHO...|U32IN406750|01/01/2015|Thursday | US DENIM & Co|     NULL|       Shirts|  USSH3488|  XL|     F|   Fashion|       NAVY|   A14|  Mens|      USSH3488|        XL FS|8.91E12|  1|    2599|2599|     0.0|               NA|             NULL|                  NA|    2475.24|     5.0| 123.76| 2599.0|
| ABL|INDIA EAST|WEST BENGAL|    BF1|       SALES|    107450|US - SHAILIJA SHO...|U32IN406750|01/01/2015|Thursday |       US Polo|     NULL|     Trousers|  USTR0449|  38|  NULL|   Fashion|       NULL|   A14|  Mens|      USTR0449|           38|8.91E12|  1|    2099|2099|   300.0|  Scheme Discount|             NULL|uspolo schene men...|     1799.0|     5.0|  89.95|1888.95|
| ABL|INDIA EAST|WEST BENGAL|    BF1|       SALES|    107450|US - SHAILIJA SHO...|U32IN406751|01/01/2015|Thursday |US POLO WOMENS|     NULL|       Shirts|  UWSH0110|   S|     F|   Fashion|NAVY BLAZER|   A14| Women|      UWSH0110|        S  FS|8.91E12|  1|    1799|1799|     0.0|               NA|             NULL|                  NA|    1713.33|     5.0|  85.67| 1799.0|
+----+----------+-----------+-------+------------+----------+--------------------+-----------+----------+---------+--------------+---------+-------------+----------+----+------+----------+-----------+------+------+--------------+-------------+-------+---+--------+----+--------+-----------------+-----------------+--------------------+-----------+--------+-------+-------+
only showing top 5 rows

In [ ]:

df.printSchema()

root
 |-- SORG: string (nullable = true)
 |-- REGION: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- CHANNEL: string (nullable = true)
 |-- BILLING TYPE: string (nullable = true)
 |-- STORE CODE: integer (nullable = true)
 |-- NAME: string (nullable = true)
 |-- INVOICE NOS: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- BRAND: string (nullable = true)
 |-- SUB BRAND: string (nullable = true)
 |-- MATERIAL TYPE: string (nullable = true)
 |-- STYLE CODE: string (nullable = true)
 |-- SIZE: string (nullable = true)
 |-- SLEEVE: string (nullable = true)
 |-- BASIC/CORE: string (nullable = true)
 |-- COLOUR: string (nullable = true)
 |-- SEASON: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- SUPPLIER STYLE: string (nullable = true)
 |-- SUPPLIER SIZE: string (nullable = true)
 |-- BARCODE: double (nullable = true)
 |-- QTY: integer (nullable = true)
 |-- UNIT MRP: integer (nullable = true)
 |-- MRP: integer (nullable = true)
 |-- DISCOUNT: double (nullable = true)
 |-- MANUALDISC REASON: string (nullable = true)
 |-- MANUALDISC REMARK: string (nullable = true)
 |-- SCHEME REASON: string (nullable = true)
 |-- TAXABLE AMT: double (nullable = true)
 |-- TAX RATE: double (nullable = true)
 |-- TAX AMT: double (nullable = true)
 |-- NET AMT: double (nullable = true)

In [ ]:

df.describe().show()

+-------+------+----------+--------------+-------+------------+------------------+--------------------+-----------+------------------+---------+------------------+------------+-------------+----------+------------------+------+----------+------------------+------+------+--------------+-----------------+--------------------+------------------+-----------------+------------------+------------------+--------------------+-------------------+--------------------+------------------+------------------+-----------------+------------------+
|summary|  SORG|    REGION|         STATE|CHANNEL|BILLING TYPE|        STORE CODE|                NAME|INVOICE NOS|              DATE|      DAY|             BRAND|   SUB BRAND|MATERIAL TYPE|STYLE CODE|              SIZE|SLEEVE|BASIC/CORE|            COLOUR|SEASON|GENDER|SUPPLIER STYLE|    SUPPLIER SIZE|             BARCODE|               QTY|         UNIT MRP|               MRP|          DISCOUNT|   MANUALDISC REASON|  MANUALDISC REMARK|       SCHEME REASON|       TAXABLE AMT|          TAX RATE|          TAX AMT|           NET AMT|
+-------+------+----------+--------------+-------+------------+------------------+--------------------+-----------+------------------+---------+------------------+------------+-------------+----------+------------------+------+----------+------------------+------+------+--------------+-----------------+--------------------+------------------+-----------------+------------------+------------------+--------------------+-------------------+--------------------+------------------+------------------+-----------------+------------------+
|  count|859030|    762881|        766972| 859031|      859031|            859031|              859031|     859031|            859031|   859031|            859031|        9040|       859031|    859031|            859031|549268|    859031|            730304|859031|859031|        859031|           859031|              859031|            859031|           859031|            859031|            859031|              859031|             125174|              859031|            859031|            859031|           859031|            859031|
|   mean|  NULL|      NULL|          NULL|   NULL|        NULL|108609.24156986186|                NULL|       NULL| 40630.56016380097|     NULL|              NULL|        NULL|         NULL|      NULL|33.696605627512284|  NULL|      NULL|18.266009852216747|  NULL|  NULL|          NULL|33.63215829220539|8.907250066162207E12| 0.981294039446772|1621.258213033057|1545.8689174197439|290.95692096081603|                NULL|3.667765604871141E7|                NULL|1212.9235449825492| 4.937816306978431|62.80100486483265| 1275.724549847525|
| stddev|  NULL|      NULL|          NULL|   NULL|        NULL|1296.0784582124602|                NULL|       NULL|56.865921704105574|     NULL|              NULL|        NULL|         NULL|      NULL| 3.577342984303448|  NULL|      NULL|10.503744964936814|  NULL|  NULL|          NULL|3.526675630751687|2.548291471943996...|0.7257468656474315|1131.858003758686| 1293.603088783289| 561.6545134338087|                NULL|5.814531388818347E8|                NULL|1023.0110684070409|1.7020769672564835|59.67936049575688|1079.3402346894552|
|    min|   ABL|       ABL|ANDHRA PRADESH|    BF1|       SALES|            104136| US - CHIMMANI RA...|A80IN403837|        01/01/2015|Friday   |U.S.Polo Innerwear|        BLUE|      3/4 ths|  UGDR5003|                26|     F|   Fashion|                10|   A09|  Boys| I001-615-P1-L|               26|        1.01619772E8|                -6|                1|            -89994|          -10500.0|   Approved Discount|                  0|                  NA|          -79994.4|             -15.0|         -9999.36|         -89993.76|
|    max|   ABL|INDIA WEST|   WEST BENGAL|    CO1|SALES RETURN|            111038|US-WHITE OCEAN BU...|UO5SR500002|             40723|Wednesday|         USPA Kids|YOUNG N BOLD|     jumpsuit|  UYTS5097|               XXL|    TF|   Regular|       YOLK YELLOW|   S15| Women|      UYTS5097|            XXLTF|             8.91E12|               500|            14999|            142698|           89964.0|Winter Offer - Nov09|                zxf|uspolowomens&kids...|         120822.06|              20.0|           6645.3|         127467.36|
+-------+------+----------+--------------+-------+------------+------------------+--------------------+-----------+------------------+---------+------------------+------------+-------------+----------+------------------+------+----------+------------------+------+------+--------------+-----------------+--------------------+------------------+-----------------+------------------+------------------+--------------------+-------------------+--------------------+------------------+------------------+-----------------+------------------+

In [ ]:
# Counting missing values in each column
missing_values = df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns])
missing_values.show()

+----+------+-----+-------+------------+----------+----+-----------+----+---+-----+---------+-------------+----------+----+------+----------+------+------+------+--------------+-------------+-------+---+--------+---+--------+-----------------+-----------------+-------------+-----------+--------+-------+-------+
|SORG|REGION|STATE|CHANNEL|BILLING TYPE|STORE CODE|NAME|INVOICE NOS|DATE|DAY|BRAND|SUB BRAND|MATERIAL TYPE|STYLE CODE|SIZE|SLEEVE|BASIC/CORE|COLOUR|SEASON|GENDER|SUPPLIER STYLE|SUPPLIER SIZE|BARCODE|QTY|UNIT MRP|MRP|DISCOUNT|MANUALDISC REASON|MANUALDISC REMARK|SCHEME REASON|TAXABLE AMT|TAX RATE|TAX AMT|NET AMT|
+----+------+-----+-------+------------+----------+----+-----------+----+---+-----+---------+-------------+----------+----+------+----------+------+------+------+--------------+-------------+-------+---+--------+---+--------+-----------------+-----------------+-------------+-----------+--------+-------+-------+
|   2| 96151|92060|      1|           1|         1|   1|          1|   1|  1|    1|   849992|            1|         1|   1|309764|         1|128728|     1|     1|             1|            1|      1|  1|       1|  1|       1|                1|           733858|            1|          1|       1|      1|      1|
+----+------+-----+-------+------------+----------+----+-----------+----+---+-----+---------+-------------+----------+----+------+----------+------+------+------+--------------+-------------+-------+---+--------+---+--------+-----------------+-----------------+-------------+-----------+--------+-------+-------+

In [ ]:
df.head(1)

[Row(SORG='ABL', REGION='INDIA EAST', STATE='WEST BENGAL', CHANNEL='BF1', BILLING TYPE='SALES', STORE CODE=107450, NAME='US - SHAILIJA SHOPPERS KOLKATA', INVOICE NOS='U32IN406750', DATE='01/01/2015', DAY='Thursday ', BRAND='US Polo', SUB BRAND=None, MATERIAL TYPE='Shirts', STYLE CODE='USSH3311', SIZE='L', SLEEVE='F', BASIC/CORE='Fashion', COLOUR='NAVY', SEASON='A14', GENDER='Mens', SUPPLIER STYLE='USSH3311', SUPPLIER SIZE='L  FS', BARCODE=8910000000000.0, QTY=1, UNIT MRP=2399, MRP=2399, DISCOUNT=0.0, MANUALDISC REASON='NA', MANUALDISC REMARK=None, SCHEME REASON='NA', TAXABLE AMT=2284.76, TAX RATE=5.0, TAX AMT=114.24, NET AMT=2399.0)]

##Data Preprocessing

1. Handling Missing Values

In [ ]:
# Drop rows with missing values in critical columns or fill them as appropriate
# For example, let's fill missing 'DISCOUNT' with 0
df = df.na.fill({'DISCOUNT': 0, 'MANUALDISC REASON': 'No Reason', 'MANUALDISC REMARK': 'No Remark'})

# Alternatively, drop rows with any remaining missing values
#df = df.dropna()

#Feature Engineering

Key Features:
QTY: Unusually high quantities could indicate fraud.
DISCOUNT: Large discounts, especially manual ones, could raise flags.
NET AMT: Abnormally low or high net amounts might signal fraudulent activity.

1. Order Amount Features
Calculate the total order amount and related metrics.

In [ ]:
# Assuming 'QTY' is quantity and 'UNIT MRP' is unit price
df = df.withColumn("TOTAL_AMOUNT", col("QTY") * col("UNIT MRP"))

# High-value order flag (e.g., orders above a certain threshold)
df = df.withColumn("HIGH_VALUE_ORDER", when(col("TOTAL_AMOUNT") > 1000, 1).otherwise(0))

In [ ]:

df = df.withColumn("high_quantity_order", when(col("QTY") > 100, 1).otherwise(0))

df = df.withColumn("high_discount", when(col("DISCOUNT") > 50, 1).otherwise(0))

df = df.withColumn("high_net_amount", when(col("NET AMT") > 10000, 1).otherwise(0))

df = df.withColumn("qty_zscore",
                   (col("QTY") - df.select(avg(col("QTY"))).first()[0]) / df.select(stddev(col("QTY"))).first()[0])

df = df.withColumn("net_amt_zscore",
                   (col("NET AMT") - df.select(avg(col("NET AMT"))).first()[0]) / df.select(stddev(col("NET AMT"))).first()[0])

Formula for Z-Score
The Z-score formula is:

𝑍
=
𝑋
−
𝜇
/
𝜎


Where:


X: The value of the data point

μ: The mean of the column

σ: The standard deviation of the column

A Z-score tells you how many standard deviations a value is away from the mean.

In [ ]:
df.printSchema()

root
 |-- SORG: string (nullable = true)
 |-- REGION: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- CHANNEL: string (nullable = true)
 |-- BILLING TYPE: string (nullable = true)
 |-- STORE CODE: integer (nullable = true)
 |-- NAME: string (nullable = true)
 |-- INVOICE NOS: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- BRAND: string (nullable = true)
 |-- SUB BRAND: string (nullable = true)
 |-- MATERIAL TYPE: string (nullable = true)
 |-- STYLE CODE: string (nullable = true)
 |-- SIZE: string (nullable = true)
 |-- SLEEVE: string (nullable = true)
 |-- BASIC/CORE: string (nullable = true)
 |-- COLOUR: string (nullable = true)
 |-- SEASON: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- SUPPLIER STYLE: string (nullable = true)
 |-- SUPPLIER SIZE: string (nullable = true)
 |-- BARCODE: double (nullable = true)
 |-- QTY: integer (nullable = true)
 |-- UNIT MRP: integer (nullable = true)
 |-- MRP: integer (nullable = true)
 |-- DISCOUNT: double (nullable = false)
 |-- MANUALDISC REASON: string (nullable = false)
 |-- MANUALDISC REMARK: string (nullable = false)
 |-- SCHEME REASON: string (nullable = true)
 |-- TAXABLE AMT: double (nullable = true)
 |-- TAX RATE: double (nullable = true)
 |-- TAX AMT: double (nullable = true)
 |-- NET AMT: double (nullable = true)
 |-- TOTAL_AMOUNT: integer (nullable = true)
 |-- HIGH_VALUE_ORDER: integer (nullable = false)
 |-- high_quantity_order: integer (nullable = false)
 |-- high_discount: integer (nullable = false)
 |-- high_net_amount: integer (nullable = false)
 |-- qty_zscore: double (nullable = true)
 |-- net_amt_zscore: double (nullable = true)

In [ ]:
from pyspark.sql.functions import abs, when, col, avg, stddev


# Flagging anomalous orders
df = df.withColumn("anomalous_order", when((abs(col("qty_zscore")) > 3) | (abs(col("net_amt_zscore")) > 3), 1).otherwise(0))

df.select("high_quantity_order", "high_discount", "high_net_amount", "anomalous_order").show(5)

+-------------------+-------------+---------------+---------------+
|high_quantity_order|high_discount|high_net_amount|anomalous_order|
+-------------------+-------------+---------------+---------------+
|                  0|            0|              0|              0|
|                  0|            0|              0|              0|
|                  0|            0|              0|              0|
|                  0|            1|              0|              0|
|                  0|            0|              0|              0|
+-------------------+-------------+---------------+---------------+
only showing top 5 rows

In [ ]:
df.head()

Row(SORG='ABL', REGION='INDIA EAST', STATE='WEST BENGAL', CHANNEL='BF1', BILLING TYPE='SALES', STORE CODE=107450, NAME='US - SHAILIJA SHOPPERS KOLKATA', INVOICE NOS='U32IN406750', DATE='01/01/2015', DAY='Thursday ', BRAND='US Polo', SUB BRAND=None, MATERIAL TYPE='Shirts', STYLE CODE='USSH3311', SIZE='L', SLEEVE='F', BASIC/CORE='Fashion', COLOUR='NAVY', SEASON='A14', GENDER='Mens', SUPPLIER STYLE='USSH3311', SUPPLIER SIZE='L  FS', BARCODE=8910000000000.0, QTY=1, UNIT MRP=2399, MRP=2399, DISCOUNT=0.0, MANUALDISC REASON='NA', MANUALDISC REMARK='No Remark', SCHEME REASON='NA', TAXABLE AMT=2284.76, TAX RATE=5.0, TAX AMT=114.24, NET AMT=2399.0, TOTAL_AMOUNT=2399, HIGH_VALUE_ORDER=1, high_quantity_order=0, high_discount=0, high_net_amount=0, qty_zscore=0.02577477277361803, net_amt_zscore=1.0407056218706243, anomalous_order=0)

2. Discount Features
Analyze the impact of discounts on orders.

In [ ]:
# Percentage Discount
df = df.withColumn("PERCENT_DISCOUNT", (col("DISCOUNT") / col("MRP")) * 100)

# High Discount Flag
df = df.withColumn("HIGH_DISCOUNT", when(col("PERCENT_DISCOUNT") > 70, 1).otherwise(0))

In [ ]:

normal_orders = df.filter(col("HIGH_DISCOUNT") == 0)

normal_orders.show(truncate=False)

In [ ]:
df.head(2)

[Row(SORG='ABL', REGION='INDIA EAST', STATE='WEST BENGAL', CHANNEL='BF1', BILLING TYPE='SALES', STORE CODE=107450, NAME='US - SHAILIJA SHOPPERS KOLKATA', INVOICE NOS='U32IN406750', DATE='01/01/2015', DAY='Thursday ', BRAND='US Polo', SUB BRAND=None, MATERIAL TYPE='Shirts', STYLE CODE='USSH3311', SIZE='L', SLEEVE='F', BASIC/CORE='Fashion', COLOUR='NAVY', SEASON='A14', GENDER='Mens', SUPPLIER STYLE='USSH3311', SUPPLIER SIZE='L  FS', BARCODE=8910000000000.0, QTY=1, UNIT MRP=2399, MRP=2399, DISCOUNT=0.0, MANUALDISC REASON='NA', MANUALDISC REMARK=None, SCHEME REASON='NA', TAXABLE AMT=2284.76, TAX RATE=5.0, TAX AMT=114.24, NET AMT=2399.0, TOTAL_AMOUNT=2399, HIGH_VALUE_ORDER=1, PERCENT_DISCOUNT=0.0, HIGH_DISCOUNT=0),
 Row(SORG='ABL', REGION='INDIA EAST', STATE='WEST BENGAL', CHANNEL='BF1', BILLING TYPE='SALES', STORE CODE=107450, NAME='US - SHAILIJA SHOPPERS KOLKATA', INVOICE NOS='U32IN406750', DATE='01/01/2015', DAY='Thursday ', BRAND='US Polo', SUB BRAND=None, MATERIAL TYPE='Shirts', STYLE CODE='USSH3321', SIZE='L', SLEEVE='F', BASIC/CORE='Fashion', COLOUR='DEEP TEAL', SEASON='A14', GENDER='Mens', SUPPLIER STYLE='USSH3321', SUPPLIER SIZE='L  FS', BARCODE=8910000000000.0, QTY=1, UNIT MRP=2199, MRP=2199, DISCOUNT=0.0, MANUALDISC REASON='NA', MANUALDISC REMARK=None, SCHEME REASON='NA', TAXABLE AMT=2094.29, TAX RATE=5.0, TAX AMT=104.71, NET AMT=2199.0, TOTAL_AMOUNT=2199, HIGH_VALUE_ORDER=1, PERCENT_DISCOUNT=0.0, HIGH_DISCOUNT=0)]

3. Temporal Features\
Extracting features based on the order date.

In [ ]:
from pyspark.sql.functions import dayofweek, hour

# Day of the week (1 = Monday, 7 = Sunday)
df = df.withColumn("DAY_OF_WEEK", dayofweek(col("DATE")))

In [ ]:
df.describe().show()

+-------+------+----------+--------------+-------+------------+------------------+--------------------+-----------+------------------+---------+------------------+------------+-------------+----------+------------------+------+----------+------------------+------+------+--------------+-----------------+--------------------+------------------+-----------------+------------------+-----------------+--------------------+-------------------+--------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+
|summary|  SORG|    REGION|         STATE|CHANNEL|BILLING TYPE|        STORE CODE|                NAME|INVOICE NOS|              DATE|      DAY|             BRAND|   SUB BRAND|MATERIAL TYPE|STYLE CODE|              SIZE|SLEEVE|BASIC/CORE|            COLOUR|SEASON|GENDER|SUPPLIER STYLE|    SUPPLIER SIZE|             BARCODE|               QTY|         UNIT MRP|               MRP|         DISCOUNT|   MANUALDISC REASON|  MANUALDISC REMARK|       SCHEME REASON|       TAXABLE AMT|          TAX RATE|          TAX AMT|           NET AMT|      TOTAL_AMOUNT|  HIGH_VALUE_ORDER| high_quantity_order|       HIGH_DISCOUNT|     high_net_amount|          qty_zscore|      net_amt_zscore|     anomalous_order|  PERCENT_DISCOUNT|       DAY_OF_WEEK|
+-------+------+----------+--------------+-------+------------+------------------+--------------------+-----------+------------------+---------+------------------+------------+-------------+----------+------------------+------+----------+------------------+------+------+--------------+-----------------+--------------------+------------------+-----------------+------------------+-----------------+--------------------+-------------------+--------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+
|  count|859030|    762881|        766972| 859031|      859031|            859031|              859031|     859031|            859031|   859031|            859031|        9040|       859031|    859031|            859031|549268|    859031|            730304|859031|859031|        859031|           859031|              859031|            859031|           859031|            859031|           859032|              859032|             859032|              859031|            859031|            859031|           859031|            859031|            859031|            859032|              859032|              859032|              859032|              859031|              859031|              859032|            859031|            692792|
|   mean|  NULL|      NULL|          NULL|   NULL|        NULL|108609.24156986186|                NULL|       NULL| 40630.56016380097|     NULL|              NULL|        NULL|         NULL|      NULL|33.696605627512284|  NULL|      NULL|18.266009852216747|  NULL|  NULL|          NULL|33.63215829220539|8.907250066162207E12| 0.981294039446772|1621.258213033057|1545.8689174197439|290.9565822575768|                NULL|3.667765604871141E7|                NULL|1212.9235449825492| 4.937816306978431|62.80100486483265| 1275.724549847525|1545.8689174197439|0.7330017973719256|4.656403952355675E-6|0.011396548673390515|3.794969221169875E-4|9.403295886331635...|-1.12713983489240...|0.014477923988861881|13.564253610983329| 4.125168881857758|
| stddev|  NULL|      NULL|          NULL|   NULL|        NULL|1296.0784582124602|                NULL|       NULL|56.865921704105574|     NULL|              NULL|        NULL|         NULL|      NULL| 3.577342984303448|  NULL|      NULL|10.503744964936814|  NULL|  NULL|          NULL|3.526675630751687|2.548291471943996...|0.7257468656474315|1131.858003758686| 1293.603088783289| 561.654274252231|                NULL|5.814531388818347E8|                NULL|1023.0110684070409|1.7020769672564835|59.67936049575688|1079.3402346894552| 1293.603088783289|    0.442391670636|0.002157866467315...| 0.10614462052916063|0.019476995297239588|  1.0000000000000109|  0.9999999999999942| 0.11945011643197351| 20.91728574200753|2.0092116772813466|
|    min|   ABL|       ABL|ANDHRA PRADESH|    BF1|       SALES|            104136| US - CHIMMANI RA...|A80IN403837|        01/01/2015|Friday   |U.S.Polo Innerwear|        BLUE|      3/4 ths|  UGDR5003|                26|     F|   Fashion|                10|   A09|  Boys| I001-615-P1-L|               26|        1.01619772E8|                -6|                1|            -89994|         -10500.0|   Approved Discount|                  0|                  NA|          -79994.4|             -15.0|         -9999.36|         -89993.76|            -89994|                 0|                   0|                   0|                   0|  -9.619461509101841|  -84.56043943929073|                   0|               0.0|                 1|
|    max|   ABL|INDIA WEST|   WEST BENGAL|    CO1|SALES RETURN|            111038|US-WHITE OCEAN BU...|UO5SR500002|             40723|Wednesday|         USPA Kids|YOUNG N BOLD|     jumpsuit|  UYTS5097|               XXL|    TF|   Regular|       YOLK YELLOW|   S15| Women|      UYTS5097|            XXLTF|             8.91E12|               500|            14999|            142698|          89964.0|Winter Offer - Nov09|                zxf|uspolowomens&kids...|         120822.06|              20.0|           6645.3|         127467.36|            142698|                 1|                   1|                   1|                   1|   687.5933325807528|  116.91552987131995|                   1|             100.0|                 7|
+-------+------+----------+--------------+-------+------------+------------------+--------------------+-----------+------------------+---------+------------------+------------+-------------+----------+------------------+------+----------+------------------+------+------+--------------+-----------------+--------------------+------------------+-----------------+------------------+-----------------+--------------------+-------------------+--------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+

4. Address and Channel Features
Identify mismatches and channel-specific patterns

In [ ]:
# Addressing Mismatch Flag (if applicable)
df = df.withColumn("ADDRESS_MISMATCH", when(col("BILLING TYPE") != col("CHANNEL"), 1).otherwise(0))

# Sales Channel Indexing
indexer = StringIndexer(inputCol="CHANNEL", outputCol="CHANNEL_INDEX")
df = indexer.fit(df).transform(df)

5. Tax Features
Analyze tax-related irregularities.

In [ ]:
# Tax Percentage Verification
df = df.withColumn("CALCULATED_TAX", col("NET AMT") - (col("TAXABLE AMT") + col("DISCOUNT")))
df = df.withColumn("TAX_INCONSISTENCY", when(col("CALCULATED_TAX") != col("TAX AMT"), 1).otherwise(0))

In [ ]:
df.select("QTY", "DISCOUNT", "NET AMT", "CALCULATED_TAX", "HIGH_VALUE_ORDER", "ADDRESS_MISMATCH").show(2)

+---+--------+-------+------------------+----------------+----------------+
|QTY|DISCOUNT|NET AMT|    CALCULATED_TAX|HIGH_VALUE_ORDER|ADDRESS_MISMATCH|
+---+--------+-------+------------------+----------------+----------------+
|  1|     0.0| 2399.0|114.23999999999978|               1|               1|
|  1|     0.0| 2199.0|104.71000000000004|               1|               1|
+---+--------+-------+------------------+----------------+----------------+
only showing top 2 rows

Anomaly Detection
Detecting anomalies helps in identifying outliers that may indicate fraudulent activities.

Using Z-Score for Anomaly Detection

In [ ]:
# Calculating mean and standard deviation for 'TOTAL_AMOUNT'
stats = df.select(avg(col("TOTAL_AMOUNT")).alias("mean"), stddev(col("TOTAL_AMOUNT")).alias("stddev")).collect()
mean_total = stats[0]['mean']
stddev_total = stats[0]['stddev']

# Calculating Z-Score
df = df.withColumn("TOTAL_AMOUNT_ZSCORE", (col("TOTAL_AMOUNT") - mean_total) / stddev_total)

# Flag anomalies
df = df.withColumn("ANOMALY_FLAG", when((col("TOTAL_AMOUNT_ZSCORE") > 3) | (col("TOTAL_AMOUNT_ZSCORE") < -3), 1).otherwise(0))

In [ ]:
df.printSchema()

root
 |-- SORG: string (nullable = true)
 |-- REGION: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- CHANNEL: string (nullable = true)
 |-- BILLING TYPE: string (nullable = true)
 |-- STORE CODE: integer (nullable = true)
 |-- NAME: string (nullable = true)
 |-- INVOICE NOS: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- BRAND: string (nullable = true)
 |-- SUB BRAND: string (nullable = true)
 |-- MATERIAL TYPE: string (nullable = true)
 |-- STYLE CODE: string (nullable = true)
 |-- SIZE: string (nullable = true)
 |-- SLEEVE: string (nullable = true)
 |-- BASIC/CORE: string (nullable = true)
 |-- COLOUR: string (nullable = true)
 |-- SEASON: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- SUPPLIER STYLE: string (nullable = true)
 |-- SUPPLIER SIZE: string (nullable = true)
 |-- BARCODE: double (nullable = true)
 |-- QTY: integer (nullable = true)
 |-- UNIT MRP: integer (nullable = true)
 |-- MRP: integer (nullable = true)
 |-- DISCOUNT: double (nullable = false)
 |-- MANUALDISC REASON: string (nullable = false)
 |-- MANUALDISC REMARK: string (nullable = false)
 |-- SCHEME REASON: string (nullable = true)
 |-- TAXABLE AMT: double (nullable = true)
 |-- TAX RATE: double (nullable = true)
 |-- TAX AMT: double (nullable = true)
 |-- NET AMT: double (nullable = true)
 |-- high_quantity_order: integer (nullable = false)
 |-- high_discount: integer (nullable = false)
 |-- high_net_amount: integer (nullable = false)
 |-- qty_zscore: double (nullable = true)
 |-- net_amt_zscore: double (nullable = true)
 |-- anomalous_order: integer (nullable = false)
 |-- features: vector (nullable = true)

Prepare Data for Modeling
We need to convert features into a format that PySpark's MLlib can use for classification. We'll use VectorAssembler to combine relevant features.

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.sql.functions import col, when, lit

# List of features to be used in modeling
feature_cols = ["QTY", "DISCOUNT", "NET AMT", "high_quantity_order",
                "HIGH_DISCOUNT", "high_net_amount", "anomalous_order"]

# Impute nulls with 0 or mean for numerical columns
for column in feature_cols:
    df = df.withColumn(column, when(col(column).isNull(), lit(0)).otherwise(col(column)))

    # mean_val = df.select(mean(column)).collect()[0][0]
    # df = df.withColumn(column, when(col(column).isNull(), lit(mean_val)).otherwise(col(column)))

# Use VectorAssembler to combine feature columns into a single feature vector
assembler = VectorAssembler(inputCols=feature_cols, outputCol="_newfeatures")

# Apply the assembler to create 'new_features'
df = assembler.transform(df)

df.select("_newfeatures").show(5, truncate=False)

+-------------------------------+
|_newfeatures                   |
+-------------------------------+
|(7,[0,2],[1.0,2399.0])         |
|(7,[0,2],[1.0,2199.0])         |
|(7,[0,2],[1.0,2599.0])         |
|(7,[0,1,2],[1.0,300.0,1888.95])|
|(7,[0,2],[1.0,1799.0])         |
+-------------------------------+
only showing top 5 rows

In [ ]:
# df = df.drop(newfeatures_)
# Assign the transformed DataFrame with features to 'model_data'
model_data = df.select("_newfeatures", "anomalous_order")

# Check the first few rows to ensure 'model_data' is correctly defined
model_data.show(10, truncate=False)

+-------------------------------+---------------+
|_newfeatures                   |anomalous_order|
+-------------------------------+---------------+
|(7,[0,2],[1.0,2399.0])         |0              |
|(7,[0,2],[1.0,2199.0])         |0              |
|(7,[0,2],[1.0,2599.0])         |0              |
|(7,[0,1,2],[1.0,300.0,1888.95])|0              |
|(7,[0,2],[1.0,1799.0])         |0              |
|(7,[0,1,2],[1.0,339.8,1427.16])|0              |
|(7,[0,2],[1.0,1899.0])         |0              |
|(7,[0,2],[1.0,2799.0])         |0              |
|(7,[0,2,6],[1.0,7999.0,1.0])   |1              |
|(7,[0,1,2],[1.0,399.8,1679.16])|0              |
+-------------------------------+---------------+
only showing top 10 rows

In [ ]:
# Assign the transformed DataFrame with features to 'model_data'
model_data = df.select("_newfeatures", "ANOMALY_FLAG")

model_data.show(5, truncate=False)

+-------------------------------+------------+
|_newfeatures                   |ANOMALY_FLAG|
+-------------------------------+------------+
|(7,[0,2],[1.0,2399.0])         |0           |
|(7,[0,2],[1.0,2199.0])         |0           |
|(7,[0,2],[1.0,2599.0])         |0           |
|(7,[0,1,2],[1.0,300.0,1888.95])|0           |
|(7,[0,2],[1.0,1799.0])         |0           |
+-------------------------------+------------+
only showing top 5 rows

##Train-Test Split
We'll split the dataset into training and testing sets.

In [ ]:
# Split the data into training and testing sets (80% training, 20% testing)
train_data, test_data = model_data.randomSplit([0.8, 0.2], seed=12345)

train_data.show(5)

+--------------------+------------+
|        _newfeatures|ANOMALY_FLAG|
+--------------------+------------+
|           (7,[],[])|           0|
|(7,[0,1,2],[-1.0,...|           1|
|(7,[0,1,2],[-1.0,...|           1|
|(7,[0,1,2],[-1.0,...|           1|
|(7,[0,1,2],[-1.0,...|           1|
+--------------------+------------+
only showing top 5 rows

In [ ]:
model_data = df.select("_newfeatures", col("ANOMALY_FLAG").alias("label"))

In [ ]:


#Creating a binary label based on 'ANOMALY_FLAG'
df = df.withColumn("label", col("ANOMALY_FLAG"))

# Selecting final dataset for modeling
model_data = df.select("_newfeatures", "label")

In [ ]:
# Initializing Decision Tree Classifier
dt_classifier = DecisionTreeClassifier(labelCol="label", featuresCol="_newfeatures")

# Spliting the data into training and testing sets
train_data, test_data = model_data.randomSplit([0.8, 0.2], seed=42)

# Training the model
dt_model = dt_classifier.fit(train_data)

# Making predictions on the test data
dt_predictions = dt_model.transform(test_data)

dt_predictions.select("_newfeatures", "label", "prediction").show(10)

+--------------------+-----+----------+
|        _newfeatures|label|prediction|
+--------------------+-----+----------+
|(7,[0,1,2],[-1.0,...|    1|       0.0|
|(7,[0,1,2],[-1.0,...|    1|       0.0|
|(7,[0,1,2],[-1.0,...|    1|       0.0|
|(7,[0,1,2],[-1.0,...|    1|       0.0|
|(7,[0,1,2],[-1.0,...|    1|       0.0|
|(7,[0,1,2],[-1.0,...|    1|       0.0|
|(7,[0,1,2],[-1.0,...|    1|       0.0|
|(7,[0,1,2],[-1.0,...|    1|       0.0|
|(7,[0,1,2],[-1.0,...|    1|       0.0|
|(7,[0,1,2],[-1.0,...|    1|       0.0|
+--------------------+-----+----------+
only showing top 10 rows

In [ ]:

feature_cols = ["QTY", "DISCOUNT", "NET AMT", "HIGH_VALUE_ORDER", "HIGH_DISCOUNT", "NET AMT", "ANOMALY_FLAG"]

# Using VectorAssembler to combine feature columns into a single feature vector
assembler = VectorAssembler(inputCols=feature_cols, outputCol="_features__")
df = assembler.transform(df)
#(1 for fraud, 0 for non-fraud)
model_data = df.select("_features__", col("ANOMALY_FLAG").alias("label"))

In [ ]:
# Feature 1: Flagging high quantity orders
df = df.withColumn("high_quantity_order", when(col("QTY") > 100, 1).otherwise(0))  # Threshold can be adjusted

# Feature 2: Flagging high discounts
df = df.withColumn("high_discount", when(col("DISCOUNT") > 50, 1).otherwise(0))  # Threshold as needed

# Feature 3: Flagging high-value transactions based on NET AMT
df = df.withColumn("high_net_amount", when(col("NET AMT") > 10000, 1).otherwise(0))  # Adjust threshold

# Fill missing values in numeric columns with 0
df = df.na.fill(0, subset=["DISCOUNT", "NET AMT", "QTY"])

# Show the updated dataset with new features
df.select("QTY", "DISCOUNT", "NET AMT", "high_quantity_order", "high_discount", "high_net_amount").show(5)

+---+--------+-------+-------------------+-------------+---------------+
|QTY|DISCOUNT|NET AMT|high_quantity_order|high_discount|high_net_amount|
+---+--------+-------+-------------------+-------------+---------------+
|  1|     0.0| 2399.0|                  0|            0|              0|
|  1|     0.0| 2199.0|                  0|            0|              0|
|  1|     0.0| 2599.0|                  0|            0|              0|
|  1|   300.0|1888.95|                  0|            1|              0|
|  1|     0.0| 1799.0|                  0|            0|              0|
+---+--------+-------+-------------------+-------------+---------------+
only showing top 5 rows

##Train-Test Split

In [ ]:
# Split the data into training and testing sets (80% training, 20% testing)
train_data, test_data = model_data.randomSplit([0.8, 0.2], seed=42)

# Show some training data samples
train_data.show(5)

+--------------------+-----+
|         _features__|label|
+--------------------+-----+
|           (7,[],[])|    0|
|(7,[0,1,4],[-1.0,...|    0|
|(7,[0,1,4],[-1.0,...|    0|
|(7,[0,1,4],[-1.0,...|    0|
|(7,[0,1,4],[-1.0,...|    0|
+--------------------+-----+
only showing top 5 rows

##Decision Tree Classifier

In [ ]:
# Creating a Decision Tree Classifier
dt = DecisionTreeClassifier(labelCol="label", featuresCol="_features__")

# Training the Decision Tree model
dt_model = dt.fit(train_data)

# Making predictions on the test data
dt_predictions = dt_model.transform(test_data)

dt_predictions.select("label", "prediction", "_features__").show(5)

+-----+----------+--------------------+
|label|prediction|         _features__|
+-----+----------+--------------------+
|    0|       0.0|(7,[0,1,4],[-1.0,...|
|    0|       0.0|(7,[0,1,4],[-1.0,...|
|    0|       0.0|(7,[0,1,4],[-1.0,...|
|    0|       0.0|(7,[0,1,4],[1.0,3...|
|    0|       0.0|(7,[0,1,4],[1.0,4...|
+-----+----------+--------------------+
only showing top 5 rows

##Random Forest Classifier

In [ ]:
# Creating a Random Forest Classifier
rf = RandomForestClassifier(labelCol="label", featuresCol="_features__", numTrees=100)

# Training the Random Forest model
rf_model = rf.fit(train_data)

# Making predictions on the test data
rf_predictions = rf_model.transform(test_data)

rf_predictions.select("label", "prediction", "_features__").show(5)

+-----+----------+--------------------+
|label|prediction|         _features__|
+-----+----------+--------------------+
|    0|       0.0|(7,[0,1,4],[-1.0,...|
|    0|       0.0|(7,[0,1,4],[-1.0,...|
|    0|       0.0|(7,[0,1,4],[-1.0,...|
|    0|       0.0|(7,[0,1,4],[1.0,3...|
|    0|       0.0|(7,[0,1,4],[1.0,4...|
+-----+----------+--------------------+
only showing top 5 rows

In [ ]:
# Evaluator for Decision Tree
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")
dt_accuracy = evaluator.evaluate(dt_predictions)
print(f"Decision Tree Accuracy: {dt_accuracy}")

# Evaluator for Random Forest
rf_accuracy = evaluator.evaluate(rf_predictions)
print(f"Random Forest Accuracy: {rf_accuracy}")

Decision Tree Accuracy: 1.0
Random Forest Accuracy: 1.0

In [ ]:
# ParamGrid for Random Forest
paramGrid = (ParamGridBuilder()
             .addGrid(rf.numTrees, [50, 100, 200])
             .addGrid(rf.maxDepth, [5, 10, 20])
             .build())

# CrossValidator for tuning
crossval = CrossValidator(estimator=rf, estimatorParamMaps=paramGrid,
                          evaluator=evaluator, numFolds=3)

# Training the model with cross-validation
cv_model = crossval.fit(train_data)

# Predictions with tuned model
cv_predictions = cv_model.transform(test_data)
cv_accuracy = evaluator.evaluate(cv_predictions)
print(f"Tuned Random Forest Accuracy: {cv_accuracy}")

Tuned Random Forest Accuracy: 1.0

******************************

In [ ]:
df.columns

Index(['SORG', 'REGION', 'STATE', 'CHANNEL', 'BILLING TYPE', 'STORE CODE',
       'NAME', 'INVOICE NOS', 'DATE', 'DAY', 'BRAND', 'SUB BRAND',
       'MATERIAL TYPE', 'STYLE CODE', 'SIZE', 'SLEEVE', 'BASIC/CORE', 'COLOUR',
       'SEASON', 'GENDER', 'SUPPLIER STYLE', 'SUPPLIER SIZE', 'BARCODE', 'QTY',
       'UNIT MRP', 'MRP', 'DISCOUNT', 'MANUALDISC REASON', 'MANUALDISC REMARK',
       'SCHEME REASON', 'TAXABLE AMT', 'TAX RATE', 'TAX AMT', 'NET AMT'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859032 entries, 0 to 859031
Data columns (total 34 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SORG               859030 non-null  object
 1   REGION             762881 non-null  object
 2   STATE              766972 non-null  object
 3   CHANNEL            859031 non-null  object
 4   BILLING TYPE       859031 non-null  object
 5   STORE CODE         859031 non-null  float64
 6   NAME               859031 non-null  object
 7   INVOICE NOS        859031 non-null  object
 8   DATE               859031 non-null  object
 9   DAY                859031 non-null  object
 10  BRAND              859031 non-null  object
 11  SUB BRAND          9040 non-null    object
 12  MATERIAL TYPE      859031 non-null  object
 13  STYLE CODE         859031 non-null  object
 14  SIZE               859031 non-null  object
 15  SLEEVE             549268 non-null  object
 16  BASIC/CORE         859031 non-null  object
 17  COLOUR             730304 non-null  object
 18  SEASON             859031 non-null  object
 19  GENDER             859031 non-null  object
 20  SUPPLIER STYLE     859031 non-null  object
 21  SUPPLIER SIZE      859031 non-null  object
 22  BARCODE            859031 non-null  float64
 23  QTY                859031 non-null  float64
 24  UNIT MRP           859031 non-null  float64
 25  MRP                859031 non-null  float64
 26  DISCOUNT           859031 non-null  float64
 27  MANUALDISC REASON  298719 non-null  object
 28  MANUALDISC REMARK  125162 non-null  object
 29  SCHEME REASON      174493 non-null  object
 30  TAXABLE AMT        859031 non-null  float64
 31  TAX RATE           859031 non-null  float64
 32  TAX AMT            859031 non-null  float64
 33  NET AMT            859031 non-null  float64
dtypes: float64(10), object(24)
memory usage: 222.8+ MB

In [ ]:
df['DATE'].unique()

array(['01/01/2015', '01/02/2015', '01/03/2015', '01/04/2015',
       '01/05/2015', '01/06/2015', '01/07/2015', '01/08/2015',
       '01/09/2015', '01/10/2015', '01/11/2015', '01/12/2015',
       '01/13/2015', '01/14/2015', '01/15/2015', '01/16/2015',
       '01/17/2015', '01/18/2015', '01/19/2015', '01/20/2015',
       '01/21/2015', '01/22/2015', '01/23/2015', '01/24/2015',
       '01/25/2015', '01/26/2015', '01/27/2015', '01/28/2015',
       '01/29/2015', '01/30/2015', '01/31/2015', '02/01/2015',
       '02/02/2015', '02/03/2015', '02/04/2015', '02/05/2015',
       '02/06/2015', '02/07/2015', '02/08/2015', '02/09/2015',
       '02/10/2015', '02/11/2015', '02/12/2015', '02/13/2015',
       '02/14/2015', '02/15/2015', '02/16/2015', '02/17/2015',
       '02/18/2015', '02/19/2015', '02/20/2015', '02/21/2015',
       '02/22/2015', '02/23/2015', '02/24/2015', '02/25/2015',
       '02/26/2015', '02/27/2015', '02/28/2015', '03/01/2015',
       '03/02/2015', '03/03/2015', '03/04/2015', '03/05/2015',
       '03/06/2015', '03/07/2015', '03/08/2015', '03/09/2015',
       '03/10/2015', '03/11/2015', '03/12/2015', '03/13/2015',
       '03/14/2015', '03/15/2015', '03/16/2015', '03/17/2015',
       '03/18/2015', '03/19/2015', '03/20/2015', '03/21/2015',
       '03/22/2015', '03/23/2015', '03/24/2015', '03/25/2015',
       '03/26/2015', '03/27/2015', '03/28/2015', '03/29/2015',
       '03/30/2015', '03/31/2015', '04/01/2015', '04/02/2015',
       '04/03/2015', '04/04/2015', '04/05/2015', '04/06/2015',
       '04/07/2015', '04/08/2015', '04/09/2015', '04/10/2015',
       '04/11/2015', '04/12/2015', '04/13/2015', '04/14/2015',
       '04/15/2015', '04/16/2015', '04/17/2015', '04/18/2015',
       '04/19/2015', '04/20/2015', '04/21/2015', '04/22/2015',
       '04/23/2015', '04/24/2015', '04/25/2015', '04/26/2015',
       '04/27/2015', '04/28/2015', '04/29/2015', '04/30/2015',
       '05/01/2015', '05/02/2015', '05/03/2015', '05/04/2015',
       '05/05/2015', '05/06/2015', '05/07/2015', '05/08/2015',
       '05/09/2015', '05/10/2015', '05/11/2015', '05/12/2015',
       '05/13/2015', '05/14/2015', '05/15/2015', '05/16/2015',
       '05/17/2015', '05/18/2015', '05/19/2015', '05/20/2015',
       '05/21/2015', '05/22/2015', '05/23/2015', '05/24/2015',
       '05/25/2015', '05/26/2015', '05/27/2015', '05/28/2015',
       '05/29/2015', '05/30/2015', '05/31/2015', '06/01/2015',
       '06/02/2015', '06/03/2015', '06/04/2015', '06/05/2015',
       '06/06/2015', '06/07/2015', '06/08/2015', '06/09/2015',
       '06/10/2015', '06/11/2015', '06/12/2015', '06/13/2015',
       '06/14/2015', '06/15/2015', '06/16/2015', '06/17/2015',
       '06/18/2015', '06/19/2015', '06/20/2015', '06/21/2015',
       '06/22/2015', '06/23/2015', '06/24/2015', '06/25/2015',
       '06/26/2015', '06/27/2015', '06/28/2015', '06/29/2015',
       '06/30/2015', nan, '40692', '40693', '40694', '40695', '40696',
       '40697', '40698', '40699', '40700', '40701', '40702', '40703',
       '40704', '40705', '40706', '40707', '40708', '40709', '40710',
       '40711', '40712', '40713', '40714', '40715', '40716', '40717',
       '40718', '40719', '40720', '40721', '40722', '40723', '40543',
       '40545', '40546', '40548', '40549', '40550', '40551', '40555',
       '40556', '40557', '40558', '40559', '40560', '40561', '40562',
       '40563', '40564', '40566', '40567', '40568', '40569', '40573',
       '40576', '40577', '40580', '40581', '40582', '40583', '40584',
       '40585', '40586', '40587', '40588', '40589', '40591', '40592',
       '40593', '40594', '40595', '40596', '40599', '40600', '40605',
       '40606', '40608', '40612', '40613', '40616', '40618', '40620',
       '40621', '40622', '40623', '40625', '40630', '40631', '40634',
       '40635', '40636', '40639', '40640', '40641', '40642', '40645',
       '40646', '40647', '40648', '40649', '40651', '40654', '40655',
       '40656', '40658', '40659', '40661', '40664', '40665', '40668',
       '40669', '40671', '40672', '40673', '40674', '40675', '40676',
       '40678', '40679', '40680', '40681', '40682', '40683', '40686',
       '40689', '40544', '40547', '40552', '40553', '40554', '40565',
       '40570', '40571', '40572', '40574', '40575', '40578', '40579',
       '40590', '40597', '40598', '40601', '40602', '40603', '40604',
       '40607', 40608, 40609, 40610, 40611, 40612, 40613, 40614, 40615,
       40616, 40617, 40618, 40619, 40620, 40621, 40622, 40623, 40624,
       40625, 40626, 40627, 40628, 40629, 40630, 40631, 40632, 40633,
       40634, 40635, 40636, 40637, 40638, 40639, 40640, 40641, 40642,
       40643, 40644, 40645, 40646, 40647, 40648, 40649, 40650, 40651,
       40652, 40653, 40654, 40655, 40656, 40657, 40658, 40659, 40660,
       40661, 40662, 40663, 40664, 40665, 40666, 40667, 40668, 40669,
       40670, 40671, 40672, 40673, 40674, 40675, 40676, 40677, 40678,
       40679, 40680, 40681, 40682, 40683, 40684, 40685, 40686, 40687,
       40688, 40689, 40690, 40691, 40692, 40693, 40694, 40695, 40696,
       40697, 40698, 40699, 40700, 40701, 40702, 40703, 40704, 40705,
       40706, 40707, 40708, 40709, 40710, 40711, 40712, 40713, 40714,
       40715, 40716, 40717, 40718, 40719, 40720, 40721, 40722, 40723,
       40543, 40544, 40545, 40546, 40547, 40548, 40549, 40550, 40551,
       40552, 40553, 40554, 40555, 40556, 40557, 40560, 40561, 40562,
       40563, 40565, 40567, 40569, 40570, 40571, 40573, 40574, 40575,
       40576, 40577, 40579, 40580, 40581, 40582, 40584, 40585, 40586,
       40587, 40588, 40589, 40590, 40591, 40592, 40594, 40596, 40597,
       40598, 40601, 40602, 40603, 40604, 40605, 40606, 40558, 40559,
       40564, 40566, 40568, 40572, 40578, 40583, 40593, 40595, 40599,
       40600, 40607], dtype=object)

In [ ]:
df['NAME'].unique()

array(['US - SHAILIJA SHOPPERS KOLKATA',
       'US - DHUPAR AGENCIES BHUBANESHWAR',
       'US - SHAILIJA SHOPPERS KOLKATTA',
       'US - SHAILJA SHOPPERS PVT LTD KOLKATTA',
       'US - SARITA SUMEDHA PATNA', 'US - INDERA TEXTILES ROURKELA',
       'US - ALBL SALT LAKE KOLKATA', 'US - ABK COMMERCIAL KOLKATA',
       ' US - MENS ABK COMMERCIAL KOLKATA',
       'US - ALBL QUEST MALL KOLKATA', 'US - SHAILAJA SHOPPERS KOLKATA',
       'FM - CRYSTAL COURT', 'FM - LAJPATNAGAR', 'FM - GLAMOURFASHION',
       'US - MAHAGUN  METRO MALL VISHALI', 'US - SOUTH EXTENSION DELHI',
       'US - Z SQUARE KANPUR', 'CA - SAMARTH LIFE STYLE PACIFIC MALL',
       'US - H G Retail Solution NewDelhi',
       'US - HG RETAILJAWAHAR NAGAR DELHI', 'US - H.G.Retail Noida',
       'US-GULATI SECTOR-17 CHANDIGARH', 'US-HG RETAIL DWARAKA DELHI',
       'US-FRONTLINE RETAIL CROWN MALL FARIDABAD',
       'US-FRONTLINE RETAIL USPA AGRA',
       'US-FRONTLINE V3S EAST CENTRE MALL', 'US-SHIVAS SPORTS GHAZIABAD',
       'US-BARGOTI RETAIL HARIDWAR',
       'US - RAJAT TARUN ENTERPRISES BAREILLY',
       'FM-HG RETAIL SOLUTIONS SAHARANPUR',
       'US - SAMARTH LIFESTYLE GURGAON', 'US - ALBL GIP NOIDA',
       'FM - ALBL JANAKPURI DELHI', 'US - SAMARTH LIFESTYLE JAIPUR',
       'US - SAMARTH LIFESTYLE KOTA', 'US - ALBL RAJPUR ROAD DEHRADUN',
       nan, 'US - ALBL CONNAUGHT PLACE DELHI',
       'US - SELECT INFRASTRUCTURE DELHI',
       'US - HG RETAIL SOLUTIONS RUDRAPUR',
       'FM - HG RETAIL CROSS ROAD MALL DEHRADUN',
       'US - SELECT INFRASTRUCTURE PVT LTD DELHI',
       'US - HG RETAIL SOLUTIONS NAINITAL',
       'UB4-108540 US - SAMARTH LIFESTYLE RETAIL',
       'CA - STUTI RETAILS HAZRATGANJ LUCKNOW',
       'HG RETAIL SOLUTIONS PVT LTD-HALDWANI', 'US - ALBL KAROLBAGH',
       'US - N J FASHIONS NOIDA', 'US - SHREE SAI READYMADE DEHRADUN',
       'US - H.G.RETAIL SOLUTIONS KASHIPUR',
       'CA - H & S ENTERPRISES DELHI', 'US - BHUMI APPARELS RISHIKESH',
       'US - VISHAV LIFESTYLE GANGANAGAR', 'US - JVS ENTERPRISES DELHI',
       'US - GOLDEN HERITAGE DELHI', 'US - CHERRIE GEMS PVT LTD ROORKEE',
       'US - ALBL WESTGATE DELHI', 'US - RP LIFESTYLE JODHPUR',
       'US - RP LIFESTYLE UDAIPUR', 'US - SAMARTH LIFESTYLE DLF GURGOAN',
       'US - ARVIND LIFESTYLE BRANDS LTD-DWARKA',
       'FM - ABRAR A K HIMAYATH', 'FM - PCH KARIMNAGAR',
       'FM - PCH GUNTUR', 'CA - BANJARAHILLS', 'US - FORUM MALL',
       'US - KAKARAI', 'US - POLO BEYOND LIMITS',
       'US - PCH JUBILEE HILLS HYDERABAD',
       'US - AHAD COLLECTION BANGALORE', 'US - INDIRA NAGAR',
       'FM - PCH LIFESTYLE VIJAYAWADA', 'CA - HRBR LAYOUT- BANGALORE',
       'US - PCH LIFESTYLE DILLSHUKNAGAR',
       'US - PCH LIFESTYLE PVT LTD-Himayat Nagar',
       'US-PCH LIFESTYLE PVT LTD KHARKHANA',
       'US-A NEW LIFE FASHION KADAPA', 'US-K K INCORPORATED BANGALORE',
       'US-PCH LIFESTYLE HANAMKONDA WARANGAL',
       'US - ALBL BRIGADEROAD BANGALORE',
       'US-ALBL PHOENIX MARKET BANGALORE',
       'US-ALBL SIGNATURE MALL BANGALORE',
       'US-PCH LIFESTYLE TOLI CHOWKI HYDERABAD',
       'US-ALBL GVK ONE HYDERABAD', 'EE - FORUM BANGALORE',
       'US-ALBL ORION MALL BANGALORE',
       'US - A NEW LIFE FASHION ANANTAPUR',
       'US - AHAD FASHIONS BANGALORE',
       'US - ALBL FORUM VALUE MALL BANGALORE',
       'US - ALBL INORBIT MALL BANGALORE', 'US - ALBL GARUDA MYSROE',
       'US - BUY BEST COIMBATORE', 'US - ALBL JAYANAGAR',
       'US - PURACKAL FASHIONS KOTTAYAM',
       'US - ALBL PHOENIX MARKET CITY CHENNAI',
       'UB - SHREE BALAJI DRESSES HYDERABAD',
       'US - ACCENT LIFESTYLES COCHIN', 'US - PURPLE FASHION KURNOOL',
       'US - PVK TEXTILES KHAMMAM', 'US - ALBL FORUM VIJAYA MALL CHENNAI',
       'US -SAPTHAGIRI MENSÊEXCLUSIVE  HYDERABAD',
       'US - ALBL EXPRESS AVENUE CHENNAI',
       'US - KK INCORPORATED BANGALORE', 'US - PSR RETAIL TRIVANDRUM',
       'US - SRI SRINIVASA MOBILES TIRUPATHI',
       'US - CHITRALAYA MALL VISHAKHAPATNAM',
       'US - IVORY ENTERPRISES BELLARY', 'US - ADITI LIFESTYLE BELGAUM',
       ' US - CHIMMANI RAJYALAXMI KOTHAGUDUM',
       'US - BHAWAR LIFESTYLE BANGALORE',
       'US - ALBL 100FT INDIRANGAR BANGALORE',
       'US - ACCENT GALERIA PERUMBAVOOR', 'US - SONI RETAIL HYDERBAD',
       'US - BRANDPORT KANNUR', 'US - UDAYA LIFE STYLE NIZAMABAD',
       'US - KRISHNA RETAIL HYDERABAD',
       'US - ALBL PHOENIX MALL BANGALORE', 'US - ETHIX CLOTHING',
       'US - ARROWHEAD', 'US - VAMA APPARELS INDIA PVT LTD',
       'US - KLFASHIONS AHMADABAD', 'US - ETHIX CLOTHING PHOENIX PUNE',
       'US-WHITE OCEAN BUSINESS VENTURE AHMEDABA',
       'US-ALBL LINKING ROAD MUMBAI',
       'US - ETHIX CLOTHING DB MALL BHOPAL',
       'US - ALBL PALLADIUM MALL MUMBAI', 'CA - MYSTORE PVT LTD VADODARA',
       'US-M.M. MARKETING KOLHAPUR', 'US - ALBL COLABA MUMBAI',
       'US - ETHIX CLOTHING PANJIM GOA', 'US - ALBL R CITY MALL MUMBAI',
       'US - ETHIX CLOTHING JABALPUR', 'US - ALBL INORBIT MALL THANE',
       'US - ARIHANTH LIFESTYLE NASHIK', 'US - ALBL IN ORBIT MALL MUMBAI',
       'US - ETHIX CLOTHING PUNE', 'US - ALBL PHOENIX PUNE',
       'US - AD FABRICS BILASPUR', 'US - ETHIX CLOTHING VIVIANA THANE',
       'US - FRESHICA MULTITRADE RAIPUR', 'Ethix Clothing',
       'US - WHITE OCEAN  INORBIT VADODARA', 'US - ALBL  INORBIT PUNE',
       'US - VIRTUOUS MALL SURAT(KIDS)', 'US - VIRTUOUS MALL SURAT',
       'US - ETHIX CLOTHING  GWALIOR', 'US - ALBL PALLADIUM MUMBAI-KIDS',
       'US - ALBL KORUM MALL THANE', 'US - ALBL INFINITI MALL MUMBAI',
       'US - ALBL OBEROI MUMBAI', 'US - K L FASHIONS AHMEDABAD',
       'US - ETHIX CLOTHING SEASONS PUNE',
       'US - HARDIK ENTERPRISES RAIPUR',
       'US - SAMARTH LIFESTYLE GHAZIABAD',
       'US - SAMARTH LIFESTYLE TONK ROAD JAIPUR',
       'US - SS ENTERPRISES JAIPUR', 'US - FR ASSOCIATES MANGALORE',
       'FM - SK ENTERPRISES JAIPUR', 'US - YUKTI APPARELS GURGAON',
       'US - LAVANYA APPARELS GAZIABAD', 'US - RIDHIMA FASHION HALDWANI',
       'US - SRI LAKSHMI ENTERPRISES COIMBATORE',
       'US - RAJAT ENTERPRISES BAREILLY',
       'US - FASHION RETAIL CORP RAJAMUNDARY',
       'US - HYPE RETAIL - BANGALORE', 'SHREE GANAPATI SALES - AJMER',
       'US - VISHAV LIFESTYLE - GANGANAGAR', 'US - FRIENDS & COMPANY',
       'US - UDAY INTERNATIONAL - JAIPUR',
       'US - UDAY ARCHIT TRADELINK PVT.LTD',
       'US - BR RETAIL INDIA - JUBILEE HILLS',
       'US - BR RETAIL INDIA - KHARKHANA',
       'US - BR RETAIL INDIA P LTD - KARIMNAGAR',
       'US - BR RETAIL INDIA P LTD GUNTUR',
       'US - BR RETAIL INDIA P LTD - VIJAYAWADA',
       'US -  BR RETAIL INDIA P LTD - DILSUKHNAG',
       'US - BR RETAIL INDIA PVT LTD - WARANGAL',
       'US - BR RETAIL INDIA - Himayat Nagar',
       'US -  HARDIK ENTERPRISES - RAIPUR', 'US - JAS RETAIL - NEW DELHI',
       'US - SAMARTH LIFESTYLE RETAILING-VK',
       'US - ARVIND LIFESTYLE BRANDS LTD- NOIDA',
       'US - RIDHIMA FASHION HUF', 'US - KAKARAI - INC',
       'US-ARVIND LIFESTYLE BRANDS LTD-SAHARAGAN',
       'US - SAGA LIFESTYLE -JAIPUR\t', 'US - PELICAN ATTITUDE - CALICUT',
       'US - FIVE STAR APPARELS', 'US - RUDRA APPARELS\t\t',
       'US - SRI LAKSHMI ENTERPRISES', 'US - Shubh Apparels-Hubli',
       'US - SD MILLS LLP', 'US ARVIND LIFESTYLE BRANDS LTD TL'],
      dtype=object)

In [ ]:
df.isnull().sum()

SORG                      2
REGION                96151
STATE                 92060
CHANNEL                   1
BILLING TYPE              1
STORE CODE                1
NAME                      1
INVOICE NOS               1
DATE                      1
DAY                       1
BRAND                     1
SUB BRAND            849992
MATERIAL TYPE             1
STYLE CODE                1
SIZE                      1
SLEEVE               309764
BASIC/CORE                1
COLOUR               128728
SEASON                    1
GENDER                    1
SUPPLIER STYLE            1
SUPPLIER SIZE             1
BARCODE                   1
QTY                       1
UNIT MRP                  1
MRP                       1
DISCOUNT                  1
MANUALDISC REASON    560313
MANUALDISC REMARK    733870
SCHEME REASON        684539
TAXABLE AMT               1
TAX RATE                  1
TAX AMT                   1
NET AMT                   1
dtype: int64

In [ ]:
df.shape

(859032, 34)

In [ ]:
df['GENDER'].unique()

array(['Mens', 'Women', 'Unisex', 'Boys', 'Girls', 'Promotional', nan],
      dtype=object)

In [ ]:
df['BARCODE']