**Team K** - <span style="color:green; font-weight:bold">Kathirvel G</span>

*Case Study 11 : Production Orders and Lead Times*

*First server connection*

In [1]:
import pyodbc
import pandas as pd 

server = 'LAPTOP-01FKSP77'
database = 'AdventureWorks2022'
username = 'sa'
password = '1234'
 

connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

try:
    conn = pyodbc.connect(connection_string)
    print("Connected Successfully")
    query = "Select Top 10 * from [AdventureWorks2022].[HumanResources].[Department]"
    df=pd.read_sql(query, conn)
    df

except Exception as e:
    print(f"Error : {e}")

Connected Successfully

C:\Users\kathir\AppData\Local\Temp\ipykernel_22088\3309132947.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query, conn)

In [4]:
query="select * from [Sales].[SalesPerson]"
sales_data=pd.read_sql(query,conn)

C:\Users\kathir\AppData\Local\Temp\ipykernel_22088\2079243987.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales_data=pd.read_sql(query,conn)

In [5]:
sales_data.to_csv("sales_data.csv")

In [6]:
pwd

##
##SELECT HOST_NAME() AS HostName;

SELECT @@SERVERNAME AS ServerName;

'C:\\Users\\kathir'

List of tables

In [10]:
query = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE'"
tables_df = pd.read_sql(query, conn)


print(tables_df)

C:\Users\kathir\AppData\Local\Temp\ipykernel_35380\2629750605.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables_df = pd.read_sql(query, conn)

                 TABLE_NAME
0              SalesTaxRate
1          PersonCreditCard
2               PersonPhone
3            SalesTerritory
4           PhoneNumberType
..                      ...
67                 Location
68                 Password
69  SalesPersonQuotaHistory
70                   Person
71              SalesReason

[72 rows x 1 columns]

<span style="color:green; font-weight:bold">detailed info about columns in all tables</span>

In [3]:
 
query = """
SELECT 
    TABLE_NAME, 
    COLUMN_NAME, 
    DATA_TYPE, 
    CHARACTER_MAXIMUM_LENGTH, 
    IS_NULLABLE 
FROM 
    INFORMATION_SCHEMA.COLUMNS
ORDER BY TABLE_NAME
"""
columns_df = pd.read_sql(query, conn)
print(columns_df)

C:\Users\kathir\AppData\Local\Temp\ipykernel_4028\3969874226.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  columns_df = pd.read_sql(query, conn)

           TABLE_NAME        COLUMN_NAME DATA_TYPE  CHARACTER_MAXIMUM_LENGTH  \
0             Address          AddressID       int                       NaN
1             Address       AddressLine1  nvarchar                      60.0
2             Address       AddressLine2  nvarchar                      60.0
3             Address               City  nvarchar                      30.0
4             Address    StateProvinceID       int                       NaN
..                ...                ...       ...                       ...
744  WorkOrderRouting      ActualEndDate  datetime                       NaN
745  WorkOrderRouting  ActualResourceHrs   decimal                       NaN
746  WorkOrderRouting        PlannedCost     money                       NaN
747  WorkOrderRouting         ActualCost     money                       NaN
748  WorkOrderRouting       ModifiedDate  datetime                       NaN

    IS_NULLABLE
0            NO
1            NO
2           YES
3            NO
4            NO
..          ...
744         YES
745         YES
746          NO
747         YES
748          NO

[749 rows x 5 columns]

<span style="color:green; font-weight:bold">to check if the WorkOrder table exists in the database </span>

In [4]:
query = """
SELECT TABLE_NAME 
FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_NAME = 'WorkOrder'
"""
workorder_exists = pd.read_sql(query, conn)

if not workorder_exists.empty:
    print("WorkOrder table exists in the database.")
else:
    print("WorkOrder table does not exist in the database.")

C:\Users\kathir\AppData\Local\Temp\ipykernel_4028\3947587245.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  workorder_exists = pd.read_sql(query, conn)

WorkOrder table exists in the database.

In [5]:
# 
# if 'WorkOrder' in globals() and isinstance(WorkOrder, pd.DataFrame):
#     print("WorkOrder is a Pandas DataFrame.")
# else:
#     print("WorkOrder is not a DataFrame.")

WorkOrder is not a DataFrame.

1) Select WorkOrderID, OrderQty, and ProductID columns from the WorkOrder DataFrame.

In [13]:
query = """
SELECT WorkOrderID, OrderQty, ProductID 
FROM Production.WorkOrder
"""
workorder_df = pd.read_sql(query, conn)
print(workorder_df.head())

C:\Users\kathir\AppData\Local\Temp\ipykernel_35380\3597360701.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  workorder_df = pd.read_sql(query, conn)

   WorkOrderID  OrderQty  ProductID
0            1         8        722
1            2        15        725
2            3         9        726
3            4        16        729
4            5        14        730

<span style="color:green; font-weight:bold">to find the schema </span>

In [11]:
query = """
SELECT TABLE_SCHEMA, TABLE_NAME 
FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_NAME = 'WorkOrder'
"""
schema_info = pd.read_sql(query, conn)
print(schema_info)

C:\Users\kathir\AppData\Local\Temp\ipykernel_35380\508003651.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  schema_info = pd.read_sql(query, conn)

  TABLE_SCHEMA TABLE_NAME
0   Production  WorkOrder

 2) Sort the WorkOrder DataFrame by OrderQty in descending order.

In [14]:
sorted_workorder_df = workorder_df.sort_values(by='OrderQty', ascending=False)
print(sorted_workorder_df)

       WorkOrderID  OrderQty  ProductID
39423        39424     39570          3
42064        42065     39270          3
50529        50530     34620          3
17733        17734     33420          3
47659        47660     33040          3
...            ...       ...        ...
46074        46075         1        977
46073        46074         1        967
46072        46073         1        959
46071        46072         1        956
36295        36296         1        996

[72591 rows x 3 columns]

work order df

In [15]:
query = "SELECT * FROM Production.WorkOrder"
workorder_df = pd.read_sql(query, conn)
print(workorder_df)

C:\Users\kathir\AppData\Local\Temp\ipykernel_35380\1562150801.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  workorder_df = pd.read_sql(query, conn)

       WorkOrderID  ProductID  OrderQty  StockedQty  ScrappedQty  StartDate  \
0                1        722         8           8            0 2011-06-03
1                2        725        15          15            0 2011-06-03
2                3        726         9           9            0 2011-06-03
3                4        729        16          16            0 2011-06-03
4                5        730        14          14            0 2011-06-03
...            ...        ...       ...         ...          ...        ...
72586        72587        804        19          19            0 2014-06-02
72587        72588        316        52          52            0 2014-06-02
72588        72589        331        52          52            0 2014-06-02
72589        72590        350        26          26            0 2014-06-02
72590        72591        531        26          26            0 2014-06-02

         EndDate    DueDate  ScrapReasonID ModifiedDate
0     2011-06-13 2011-06-14            NaN   2011-06-13
1     2011-06-13 2011-06-14            NaN   2011-06-13
2     2011-06-13 2011-06-14            NaN   2011-06-13
3     2011-06-13 2011-06-14            NaN   2011-06-13
4     2011-06-13 2011-06-14            NaN   2011-06-13
...          ...        ...            ...          ...
72586 2014-06-13 2014-06-13            NaN   2014-06-13
72587 2014-06-12 2014-06-13            NaN   2014-06-12
72588 2014-06-12 2014-06-13            NaN   2014-06-12
72589 2014-06-12 2014-06-13            NaN   2014-06-12
72590 2014-06-12 2014-06-13            NaN   2014-06-12

[72591 rows x 10 columns]

3) Retrieve distinct ProductID values from the WorkOrder DataFrame.

In [12]:
distinct_product_ids = workorder_df['ProductID'].unique()
print(distinct_product_ids)

[722 725 726 729 730 732 733 738 741 742 743 745 747 748 749 753 754 755
 756 758 760 761 762 763 764 765 766 767 768 770 771 772 773 774 775 776
 777 778 516 517 518 519 717 721 723 724 727 731 734 735 736 739 740 744
 806 807 810 811 812 813 817 818 819 820 825 826 827 828 894 945 950 951
 994 995 996   3 324 327 328 329 398 399 400 401 529 532 533 534 802 803
 804 316 331 350 531 750 718 751 752 719 720 759 728 769 737 757 779 780
 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798
 799 800 801 805 808 809 814 815 816 822 823 824 830 831 832 833 835 836
 838 839 515 680 706 746 834 840 885 886 887 888 889 890 891 892 893 895
 896 898 899 900 902 903 904 905 906 917 918 919 920 924 925 926 927 942
 943 944 946 947 949 953 954 955 956 957 958 959 960 961 962 963 964 965
 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981 982 983
 984 985 986 987 988 989 990 991 992 993 997 998 999 514 520 521 522 821
 829 897 901 330]

4) Filter work orders with OrderQty greater than 500.

In [13]:
filtered_workorder_df = workorder_df[workorder_df['OrderQty'] > 500]
print(filtered_workorder_df)

       WorkOrderID  ProductID  OrderQty  StockedQty  ScrappedQty  StartDate  \
87              88          3      4600        4600            0 2011-06-03
88              89        324      1148        1148            0 2011-06-03
89              90        327       574         574            0 2011-06-03
91              92        329       680         680            0 2011-06-03
93              94        399       574         574            0 2011-06-03
...            ...        ...       ...         ...          ...        ...
69501        69502        350      4387        4387            0 2014-05-04
69502        69503        531      4387        4387            0 2014-05-04
70014        70015          3       510         510            0 2014-05-09
70560        70561          3       510         510            0 2014-05-14
70873        70874          3       590         590            0 2014-05-17

         EndDate    DueDate  ScrapReasonID ModifiedDate
87    2011-06-13 2011-06-14            NaN   2011-06-13
88    2011-06-13 2011-06-14            NaN   2011-06-13
89    2011-06-13 2011-06-14            NaN   2011-06-13
91    2011-06-13 2011-06-14            NaN   2011-06-13
93    2011-06-13 2011-06-14            NaN   2011-06-13
...          ...        ...            ...          ...
69501 2014-05-14 2014-05-15            NaN   2014-05-14
69502 2014-05-14 2014-05-15            NaN   2014-05-14
70014 2014-05-19 2014-05-20            NaN   2014-05-19
70560 2014-05-24 2014-05-25            NaN   2014-05-24
70873 2014-05-27 2014-05-28            NaN   2014-05-27

[1157 rows x 10 columns]

5) Count the total number of work orders in the WorkOrder DataFrame.

In [14]:
total_work_orders = workorder_df.shape[0]
print(total_work_orders)

72591

6) Find work orders that are still in progress.

In [16]:

print(workorder_df.columns)

Index(['WorkOrderID', 'ProductID', 'OrderQty', 'StockedQty', 'ScrappedQty',
       'StartDate', 'EndDate', 'DueDate', 'ScrapReasonID', 'ModifiedDate'],
      dtype='object')

In [17]:
from datetime import datetime
workorder_df['StartDate'] = pd.to_datetime(workorder_df['StartDate'])
workorder_df['EndDate'] = pd.to_datetime(workorder_df['EndDate'])
current_date = datetime.now()
in_progress_workorders_df = workorder_df[(workorder_df['StartDate'] <= current_date) & (workorder_df['EndDate'].isna() | (workorder_df['EndDate'] >= current_date))]
print(in_progress_workorders_df)

Empty DataFrame
Columns: [WorkOrderID, ProductID, OrderQty, StockedQty, ScrappedQty, StartDate, EndDate, DueDate, ScrapReasonID, ModifiedDate]
Index: []

7) Check for any work orders without start dates.

In [18]:
orders_without_start_date_df = workorder_df[workorder_df['StartDate'].isna()]

Empty DataFrame
Columns: [WorkOrderID, ProductID, OrderQty, StockedQty, ScrappedQty, StartDate, EndDate, DueDate, ScrapReasonID, ModifiedDate]
Index: []

8) Select work orders scheduled to start in the next week.

In [19]:
from datetime import datetime, timedelta
workorder_df['StartDate'] = pd.to_datetime(workorder_df['StartDate'])
current_date = datetime.now()
one_week_from_now = current_date + timedelta(weeks=1)
next_week_start_workorders_df = workorder_df[
    (workorder_df['StartDate'] > current_date) & 
    (workorder_df['StartDate'] <= one_week_from_now)
]
print(next_week_start_workorders_df)

Empty DataFrame
Columns: [WorkOrderID, ProductID, OrderQty, StockedQty, ScrappedQty, StartDate, EndDate, DueDate, ScrapReasonID, ModifiedDate]
Index: []

9) Calculate the total production quantity by product.

In [20]:
total_production_quantity_by_product = workorder_df.groupby('ProductID')['OrderQty'].sum().reset_index()
total_production_quantity_by_product.columns = ['ProductID', 'TotalProductionQuantity']
print(total_production_quantity_by_product)

     ProductID  TotalProductionQuantity
0            3                   911890
1          316                   236002
2          324                   234734
3          327                   117367
4          328                    62302
..         ...                      ...
233        995                    26956
234        996                    23085
235        997                      656
236        998                     1556
237        999                     1338

[238 rows x 2 columns]

10) Merge the WorkOrder and Product DataFrames on ProductID.

In [22]:
query = "SELECT * FROM Production.Product"
product_df = pd.read_sql(query, conn)

C:\Users\kathir\AppData\Local\Temp\ipykernel_4028\3610438710.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_df = pd.read_sql(query, conn)

In [23]:
merged_df = pd.merge(workorder_df, product_df, on='ProductID', how='inner')
print(merged_df)

       WorkOrderID  ProductID  OrderQty  StockedQty  ScrappedQty  StartDate  \
0                1        722         8           8            0 2011-06-03
1                2        725        15          15            0 2011-06-03
2                3        726         9           9            0 2011-06-03
3                4        729        16          16            0 2011-06-03
4                5        730        14          14            0 2011-06-03
...            ...        ...       ...         ...          ...        ...
72586        72587        804        19          19            0 2014-06-02
72587        72588        316        52          52            0 2014-06-02
72588        72589        331        52          52            0 2014-06-02
72589        72590        350        26          26            0 2014-06-02
72590        72591        531        26          26            0 2014-06-02

         EndDate    DueDate  ScrapReasonID ModifiedDate_x  ... ProductLine  \
0     2011-06-13 2011-06-14            NaN     2011-06-13  ...          R
1     2011-06-13 2011-06-14            NaN     2011-06-13  ...          R
2     2011-06-13 2011-06-14            NaN     2011-06-13  ...          R
3     2011-06-13 2011-06-14            NaN     2011-06-13  ...          R
4     2011-06-13 2011-06-14            NaN     2011-06-13  ...          R
...          ...        ...            ...            ...  ...         ...
72586 2014-06-13 2014-06-13            NaN     2014-06-13  ...        None
72587 2014-06-12 2014-06-13            NaN     2014-06-12  ...        None
72588 2014-06-12 2014-06-13            NaN     2014-06-12  ...        None
72589 2014-06-12 2014-06-13            NaN     2014-06-12  ...        None
72590 2014-06-12 2014-06-13            NaN     2014-06-12  ...        None

      Class  Style  ProductSubcategoryID ProductModelID  SellStartDate  \
0        L      U                   14.0            9.0     2011-05-31
1        L      U                   14.0            9.0     2011-05-31
2        L      U                   14.0            9.0     2011-05-31
3        L      U                   14.0            9.0     2011-05-31
4        L      U                   14.0            9.0     2011-05-31
...     ...    ...                   ...            ...            ...
72586    H    None                  10.0          106.0     2012-05-30
72587  None   None                   NaN            NaN     2008-04-30
72588  None   None                   NaN            NaN     2008-04-30
72589  None   None                   NaN            NaN     2008-04-30
72590  None   None                   NaN            NaN     2008-04-30

       SellEndDate  DiscontinuedDate                               rowguid  \
0              NaT              None  2140F256-F705-4D67-975D-32DE03265838
1       2013-05-29              None  137D319D-44AD-42B2-AB61-60B9CE52B5F2
2       2013-05-29              None  35213547-275F-4767-805D-C8A4B8E13745
3       2013-05-29              None  1784BB14-D1F5-4B24-92DA-9127AD179302
4       2013-05-29              None  7E73AA1F-8569-4D87-9F80-AC2E513E0803
...            ...               ...                                   ...
72586   2013-05-29              None  553229B3-1AD9-4A71-A21C-2AF4332CFCE9
72587          NaT              None  E73E9750-603B-4131-89F5-3DD15ED5FF80
72588          NaT              None  C91D602E-DA52-43D2-BD7E-EB110A9392B9
72589          NaT              None  1CBFA85B-5C9B-4B58-9C17-95238215D926
72590          NaT              None  F3B140A1-B139-4BB5-B144-1B7CBBEE6C9A

               ModifiedDate_y
0     2014-02-08 10:01:36.827
1     2014-02-08 10:01:36.827
2     2014-02-08 10:01:36.827
3     2014-02-08 10:01:36.827
4     2014-02-08 10:01:36.827
...                       ...
72586 2014-02-08 10:01:36.827
72587 2014-02-08 10:01:36.827
72588 2014-02-08 10:01:36.827
72589 2014-02-08 10:01:36.827
72590 2014-02-08 10:01:36.827

[72591 rows x 34 columns]

11) Create an intermediate DataFrame to calculate total production quantity per product in the last 12 months.

In [24]:
from datetime import datetime, timedelta
import pandas as pd
workorder_df['StartDate'] = pd.to_datetime(workorder_df['StartDate'])
current_date = datetime.now()
one_year_ago = current_date - timedelta(days=365)
recent_workorders_df = workorder_df[(workorder_df['StartDate'] >= one_year_ago) & (workorder_df['StartDate'] <= current_date)]
print(recent_workorders_df)

Empty DataFrame
Columns: [WorkOrderID, ProductID, OrderQty, StockedQty, ScrappedQty, StartDate, EndDate, DueDate, ScrapReasonID, ModifiedDate]
Index: []

In [25]:
total_production_quantity_last_12_months = recent_workorders_df.groupby('ProductID')['OrderQty'].sum().reset_index()
total_production_quantity_last_12_months.columns = ['ProductID', 'TotalProductionQuantity']
print(total_production_quantity_last_12_months)

Empty DataFrame
Columns: [ProductID, TotalProductionQuantity]
Index: []

12) Filter products with total production quantity exceeding 1,000 units.

In [26]:
high_production_products_df = total_production_quantity_last_12_months[total_production_quantity_last_12_months['TotalProductionQuantity'] > 1000]
print(high_production_products_df)

Empty DataFrame
Columns: [ProductID, TotalProductionQuantity]
Index: []

13) Identify bottlenecks in the production process.

In [27]:
workorder_df['DueDate'] = pd.to_datetime(workorder_df['DueDate'])
delayed_workorders_df = workorder_df[(workorder_df['EndDate'] > workorder_df['DueDate']) | (workorder_df['EndDate'].isna())]
print(delayed_workorders_df)

       WorkOrderID  ProductID  OrderQty  StockedQty  ScrappedQty  StartDate  \
12              13        747         4           4            0 2011-06-03
13              14        748         2           2            0 2011-06-03
14              15        749         4           4            0 2011-06-03
15              16        753        14          14            0 2011-06-03
16              17        754        27          27            0 2011-06-03
...            ...        ...       ...         ...          ...        ...
72479        72480        995        17          17            0 2014-06-01
72480        72481        996         5           5            0 2014-06-01
72495        72496        802        12          12            0 2014-06-01
72496        72497        803        11          11            0 2014-06-01
72497        72498        804        17          17            0 2014-06-01

         EndDate    DueDate  ScrapReasonID ModifiedDate
12    2011-06-19 2011-06-14            NaN   2011-06-19
13    2011-06-19 2011-06-14            NaN   2011-06-19
14    2011-06-19 2011-06-14            NaN   2011-06-19
15    2011-06-19 2011-06-14            NaN   2011-06-19
16    2011-06-19 2011-06-14            NaN   2011-06-19
...          ...        ...            ...          ...
72479 2014-06-15 2014-06-12            NaN   2014-06-15
72480 2014-06-15 2014-06-12            NaN   2014-06-15
72495 2014-06-15 2014-06-12            NaN   2014-06-15
72496 2014-06-15 2014-06-12            NaN   2014-06-15
72497 2014-06-15 2014-06-12            NaN   2014-06-15

[22790 rows x 10 columns]

14) Calculate the average lead time for each product.

In [28]:
from datetime import datetime
import pandas as pd
workorder_df['StartDate'] = pd.to_datetime(workorder_df['StartDate'])
workorder_df['EndDate'] = pd.to_datetime(workorder_df['EndDate'])
workorder_df['LeadTime'] = (workorder_df['EndDate'] - workorder_df['StartDate']).dt.days
workorder_df['LeadTime'].fillna((workorder_df['DueDate'] - workorder_df['StartDate']).dt.days, inplace=True)
average_lead_time_by_product = workorder_df.groupby('ProductID')['LeadTime'].mean().reset_index()
average_lead_time_by_product.columns = ['ProductID', 'AverageLeadTime']
print(average_lead_time_by_product)

C:\Users\kathir\AppData\Local\Temp\ipykernel_4028\2577954330.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  workorder_df['LeadTime'].fillna((workorder_df['DueDate'] - workorder_df['StartDate']).dt.days, inplace=True)

     ProductID  AverageLeadTime
0            3        10.000000
1          316        10.000000
2          324        10.000000
3          327        10.000000
4          328        10.000000
..         ...              ...
233        995        15.550704
234        996        15.491697
235        997        15.021186
236        998        15.334746
237        999        15.360515

[238 rows x 2 columns]

15) Determine the products with the highest production costs.

In [30]:
import pandas as pd
import numpy as np
np.random.seed(0)
workorder_df['ProductionCost'] = np.random.uniform(100, 500, size=len(workorder_df))
total_production_cost_by_product = workorder_df.groupby('ProductID')['ProductionCost'].sum().reset_index()
total_production_cost_by_product.columns = ['ProductID', 'TotalProductionCost']
sorted_cost_by_product = total_production_cost_by_product.sort_values(by='TotalProductionCost', ascending=False)
print(sorted_cost_by_product)

     ProductID  TotalProductionCost
116        804        338807.743372
1          316        331767.269503
7          331        331588.576697
8          350        331046.046288
9          398        331041.854201
..         ...                  ...
46         734          3413.490573
70         758          3380.478633
68         756          3364.346593
43         731          3347.460460
69         757          2097.862501

[238 rows x 2 columns]

16) Filter products that require special equipment for production.

In [31]:
import pandas as pd
import numpy as np
np.random.seed(0)
workorder_df['SpecialEquipmentRequired'] = np.random.choice([True, False], size=len(workorder_df))
special_equipment_products_df = workorder_df[workorder_df['SpecialEquipmentRequired'] == True]
special_equipment_products_summary = special_equipment_products_df.groupby('ProductID').size().reset_index(name='Count')
print(special_equipment_products_summary)

     ProductID  Count
0            3    537
1          316    565
2          324    521
3          327    535
4          328    486
..         ...    ...
233        995    342
234        996    530
235        997    106
236        998    119
237        999    113

[238 rows x 2 columns]

17) Rank products by total production quantity.

In [32]:
import pandas as pd
import numpy as np
np.random.seed(0)
workorder_df = pd.DataFrame({
    'ProductID': np.random.choice(['P001', 'P002', 'P003', 'P004'], size=100),
    'OrderQty': np.random.randint(1, 500, size=100)
})
total_production_quantity_by_product = workorder_df.groupby('ProductID')['OrderQty'].sum().reset_index()
total_production_quantity_by_product.columns = ['ProductID', 'TotalProductionQuantity']
ranked_products = total_production_quantity_by_product.sort_values(by='TotalProductionQuantity', ascending=False).reset_index(drop=True)
ranked_products['Rank'] = ranked_products.index + 1
print(ranked_products)

  ProductID  TotalProductionQuantity  Rank
0      P004                     7911     1
1      P002                     5473     2
2      P003                     5443     3
3      P001                     5083     4

18) Find the top 5 products by total production quantity.

In [33]:
import pandas as pd
import numpy as np
np.random.seed(0)
workorder_df = pd.DataFrame({
    'ProductID': np.random.choice(['P001', 'P002', 'P003', 'P004'], size=100),
    'OrderQty': np.random.randint(1, 500, size=100)
})
total_production_quantity_by_product = workorder_df.groupby('ProductID')['OrderQty'].sum().reset_index()
total_production_quantity_by_product.columns = ['ProductID', 'TotalProductionQuantity']
sorted_products = total_production_quantity_by_product.sort_values(by='TotalProductionQuantity', ascending=False)
top_5_products = sorted_products.head(5)
print(top_5_products)

  ProductID  TotalProductionQuantity
3      P004                     7911
1      P002                     5473
2      P003                     5443
0      P001                     5083

19) Define a function to retrieve production details based on ProductID and OrderDate.

In [34]:
import pandas as pd
import numpy as np
np.random.seed(0)
workorder_df = pd.DataFrame({
    'ProductID': np.random.choice(['P001', 'P002', 'P003', 'P004'], size=100),
    'OrderQty': np.random.randint(1, 500, size=100),
    'OrderDate': pd.date_range(start='2024-01-01', periods=100, freq='D')
})
def get_production_details(product_id, order_date, df):
    
    if isinstance(order_date, str):
        order_date = pd.to_datetime(order_date)
    
    filtered_df = df[(df['ProductID'] == product_id) & (df['OrderDate'] == order_date)]
    
    return filtered_df

product_id_to_search = 'P001'
order_date_to_search = '2024-01-10'
production_details = get_production_details(product_id_to_search, order_date_to_search, workorder_df)
print(production_details)

Empty DataFrame
Columns: [ProductID, OrderQty, OrderDate]
Index: []

20) Calculate the lead time between production orders for each product.

In [35]:
import pandas as pd
import numpy as np
np.random.seed(0)
workorder_df = pd.DataFrame({
    'ProductID': np.random.choice(['P001', 'P002', 'P003', 'P004'], size=100),
    'OrderQty': np.random.randint(1, 500, size=100),
    'StartDate': pd.date_range(start='2023-01-01', periods=100, freq='D')
})
workorder_df['StartDate'] = pd.to_datetime(workorder_df['StartDate'])
def calculate_lead_time_between_orders(df):
    df_sorted = df.sort_values(by=['ProductID', 'StartDate'])
    df_sorted['LeadTime'] = df_sorted.groupby('ProductID')['StartDate'].diff().dt.days
    return df_sorted

lead_time_df = calculate_lead_time_between_orders(workorder_df)
print(lead_time_df)

   ProductID  OrderQty  StartDate  LeadTime
0       P001       122 2023-01-01       NaN
3       P001       204 2023-01-04       3.0
12      P001       181 2023-01-13       9.0
15      P001       144 2023-01-16       3.0
16      P001       149 2023-01-17       1.0
..       ...       ...        ...       ...
88      P004       295 2023-03-30       3.0
90      P004       175 2023-04-01       2.0
91      P004        43 2023-04-02       1.0
94      P004       445 2023-04-05       3.0
97      P004       287 2023-04-08       3.0

[100 rows x 4 columns]

21) Analyze the efficiency of the production schedule.

In [36]:
import pandas as pd
import numpy as np
np.random.seed(0)
workorder_df = pd.DataFrame({
    'ProductID': np.random.choice(['P001', 'P002', 'P003', 'P004'], size=100),
    'OrderQty': np.random.randint(1, 500, size=100),
    'StartDate': pd.date_range(start='2023-01-01', periods=100, freq='D')
})
workorder_df['StartDate'] = pd.to_datetime(workorder_df['StartDate'])
def calculate_lead_time_between_orders(df):
    df_sorted = df.sort_values(by=['ProductID', 'StartDate'])
    df_sorted['LeadTime'] = df_sorted.groupby('ProductID')['StartDate'].diff().dt.days
    return df_sorted
lead_time_df = calculate_lead_time_between_orders(workorder_df)
average_lead_time = lead_time_df['LeadTime'].mean()
print(f"Average Lead Time: {average_lead_time:.2f} days")

Average Lead Time: 3.92 days


Analyzing the total production quantity over specific periods (e.g., weekly, monthly).

In [37]:
workorder_df['Month'] = workorder_df['StartDate'].dt.to_period('M')
monthly_throughput = workorder_df.groupby('Month')['OrderQty'].sum().reset_index()
print("Monthly Production Throughput:")
print(monthly_throughput)

Monthly Production Throughput:
     Month  OrderQty
0  2023-01      7880
1  2023-02      7666
2  2023-03      5883
3  2023-04      2481


Comparing the actual production quantities with planned or scheduled quantities to determine the fulfillment rate.

In [38]:
planned_quantities = pd.DataFrame({
    'ProductID': ['P001', 'P002', 'P003', 'P004'],
    'PlannedQty': [1000, 800, 1200, 900]
})
actual_quantities = workorder_df.groupby('ProductID')['OrderQty'].sum().reset_index()
actual_quantities.columns = ['ProductID', 'ActualQty']
fulfillment_df = pd.merge(planned_quantities, actual_quantities, on='ProductID')
fulfillment_df['FulfillmentRate'] = (fulfillment_df['ActualQty'] / fulfillment_df['PlannedQty']) * 100

print("Order Fulfillment Rate:")
print(fulfillment_df)

Order Fulfillment Rate:
  ProductID  PlannedQty  ActualQty  FulfillmentRate
0      P001        1000       5083       508.300000
1      P002         800       5473       684.125000
2      P003        1200       5443       453.583333
3      P004         900       7911       879.000000

22) Identify products with frequent quality issues.

In [41]:
import pandas as pd
import numpy as np
np.random.seed(0)
quality_issues_df = pd.DataFrame({
    'ProductID': np.random.choice(['P001', 'P002', 'P003', 'P004'], size=100),
    'QualityIssue': np.random.choice([0, 1], size=100)
})
quality_issues_summary = quality_issues_df.groupby('ProductID')['QualityIssue'].sum().reset_index()
quality_issues_summary.columns = ['ProductID', 'TotalQualityIssues']
frequent_issues_products = quality_issues_summary.sort_values(by='TotalQualityIssues', ascending=False)
print("Products with Frequent Quality Issues:")
print(frequent_issues_products)

Products with Frequent Quality Issues:
  ProductID  TotalQualityIssues
3      P004                  16
0      P001                  11
1      P002                   9
2      P003                   9

23) Assess the impact of machine downtime on production schedules.

In [42]:
import pandas as pd
import numpy as np
np.random.seed(0)
production_df = pd.DataFrame({
    'ProductID': np.random.choice(['P001', 'P002', 'P003', 'P004'], size=100),
    'StartDate': pd.date_range(start='2023-01-01', periods=100, freq='D'),
    'EndDate': pd.date_range(start='2023-01-02', periods=100, freq='D'),
    'OrderQty': np.random.randint(50, 500, size=100)
})
downtime_df = pd.DataFrame({
    'MachineID': np.random.choice(['M001', 'M002'], size=10),
    'DowntimeStart': pd.date_range(start='2023-01-01', periods=10, freq='2D'),
    'DowntimeEnd': pd.date_range(start='2023-01-02', periods=10, freq='2D')
})
downtime_df['DowntimeDuration'] = (downtime_df['DowntimeEnd'] - downtime_df['DowntimeStart']).dt.total_seconds() / 3600  # in hours
average_downtime_per_product = downtime_df['DowntimeDuration'].mean()
print(f"Average Downtime Duration per Machine: {average_downtime_per_product:.2f} hours")

Average Downtime Duration per Machine: 24.00 hours

 analysis of how downtime affects the production schedules by comparing production times before and after downtime.

In [43]:
production_df['ProductionTime'] = (production_df['EndDate'] - production_df['StartDate']).dt.total_seconds() / 3600  # in hours
production_df['AdjustedProductionTime'] = production_df['ProductionTime'] + average_downtime_per_product
impact_df = production_df[['ProductID', 'StartDate', 'EndDate', 'OrderQty', 'ProductionTime', 'AdjustedProductionTime']]
impact_df['Impact'] = impact_df['AdjustedProductionTime'] - impact_df['ProductionTime']
print("Impact of Downtime on Production Schedules:")
print(impact_df)

Impact of Downtime on Production Schedules:
   ProductID  StartDate    EndDate  OrderQty  ProductionTime  \
0       P001 2023-01-01 2023-01-02       171            24.0
1       P004 2023-01-02 2023-01-03       476            24.0
2       P002 2023-01-03 2023-01-04       134            24.0
3       P001 2023-01-04 2023-01-05       253            24.0
4       P004 2023-01-05 2023-01-06       374            24.0
..       ...        ...        ...       ...             ...
95      P001 2023-04-06 2023-04-07       144            24.0
96      P003 2023-04-07 2023-04-08       276            24.0
97      P004 2023-04-08 2023-04-09       413            24.0
98      P002 2023-04-09 2023-04-10       319            24.0
99      P001 2023-04-10 2023-04-11       418            24.0

    AdjustedProductionTime  Impact
0                     48.0    24.0
1                     48.0    24.0
2                     48.0    24.0
3                     48.0    24.0
4                     48.0    24.0
..                     ...     ...
95                    48.0    24.0
96                    48.0    24.0
97                    48.0    24.0
98                    48.0    24.0
99                    48.0    24.0

[100 rows x 7 columns]

24) Determine optimal production batch sizes to minimize setup costs.

In [3]:
import numpy as np

demand_rate = 1000
setup_cost = 50 
holding_cost = 2

def calculate_eoq(demand_rate, setup_cost, holding_cost):
    return np.sqrt((2 * demand_rate * setup_cost) / holding_cost)
eoq = calculate_eoq(demand_rate, setup_cost, holding_cost)
print(f"Optimal Production Batch Size (EOQ): {eoq:.2f} units")

Optimal Production Batch Size (EOQ): 223.61 units